<div class="row" id="{{_id}}">

  <div class="col-icon col-md-1 col-sm-2">
    <a  class="type btn btn-fab btn-fab-mini btn-material-amber" role="menuitem" tabindex="-1" href="#fat"  data-toggle="tooltip" data-placement="right" title="" data-original-title="{{title}}">
      <i class="mdi-social-person-outline"></i>
    </a>
  </div>

  <div class="col-subject col-md-10 col-sm-9">

    <div class="subject" style="border: none;">{{nl2br name}}</div>

    <p class="last-update">
        <time class="text-muted" datetime="{{date}}">{{dateFormat lastAccess}}</time>
    </p>

  </div>

  <div class="col-menu col-md-1 col-sm-1">
  </div>
</div>