<a class="btn btn-fab {{btnClass}}" role="menuitem" tabindex="-1" href="{{formAction}}"  data-toggle="tooltip" data-placement="right" title="" data-original-title="{{title}}">
  <i class="{{icon.className}}">{{icon.letter}}</i>
</a>