<header class="hidden">
  <h2>Menu</h2>
</header>
<div class="panel panel-info">
  <div class="well">
    <h5>Sync apps over internet only</h5>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="isOnline"> Sync
      </label>
    </div>
  </div>
  <div class="panel-heading"><h3>State</h3></div>

  <div class="panel-body">

    <table class="table table-condensed">
      <tbody>
        <tr class="active">
          <td class="when">Today:</td>
          <td class="time">0:00</td>
          <td class="pounds">£0.0</td>
        </tr>
        <tr class="nonactual">
          <td class="when">Yesterday:</td>
          <td class="time">8:00</td>
          <td class="pounds">£8.0</td>
        </tr>
        <tr class="active">
          <td class="when">This week:</td>
          <td class="time">16:00</td>
          <td class="pounds">£16.0</td>
        </tr>
        <tr class="nonactual">
          <td class="when">Previous week:</td>
          <td class="time">32:00</td>
          <td class="pounds">£32.0</td>
        </tr>
        <tr class="active">
          <td class="when">This month:</td>
          <td class="time">48:00</td>
          <td class="pounds">£48.0</td>
        </tr>
        <tr class="nonactual">
          <td class="when">Previous month:</td>
          <td class="time">0:00</td>
          <td class="pounds">£0.0</td>
        </tr>


      </tbody>
    </table>
  </div>


</div>
<div class="panel panel-primary">
  <div class="panel-heading"><h3>Menu</h3></div>

  <div class="panel-body">
    <div class="list-style-group">
      {{link_to class="list-group-item" href='#populate' body='Populate'}}
      {{link_to class="list-group-item" href='#slashed/path' body='Slashed'}}
    </div>
  </div>

  <div class="panel-body">
    <div class="list-style-group">
      {{link_to class="list-group-item" href='#records/inprogress' body='In Progress'}}
      {{link_to class="list-group-item" href='#records/notfinished' body='Not Finished'}}
      {{link_to class="list-group-item" href='#records/finished' body='Finished'}}
    </div>
  </div>

  <div class="panel-body">
    <div class="list-style-group">
      {{link_to class="list-group-item" href='#project/1' body='Projects 1'}}
      {{link_to class="list-group-item" href='#project/2' body='Projects 2'}}
      {{link_to class="list-group-item" href='#project/3' body='Projects 3'}}
      {{link_to class="list-group-item" href='#project/4' body='Projects 4'}}
    </div>
  </div>


</div>
